@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Map styles */

/* Add these styles for the custom popup */
.custom-popup .leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: transparent;
}

.custom-popup .leaflet-popup-content {
  margin: 0;
  background: transparent;
}

.custom-popup .leaflet-popup-tip-container {
  display: none;
}

.custom-popup .leaflet-popup-close-button {
  display: none;
}
