# Copy to .env for local development. Keep .env private.
AIRQO_API_TOKEN=replace-with-your-token
AIRQO_GRID_ID=replace-with-your-grid-id
PORT=8080
HOST=127.0.0.1
NODE_ENV=production ## YOU can change this to development for local development